@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 95vh;
  font-family: "PT Serif", serif;
  background-color: #eee;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px 0;
}

.card-container {
  border-radius: 20px;
  background-color: #5c5cff;
  padding: 0 16px;
}

.sub-image {
  margin-bottom: 10px;
  width: 120px;
  height: auto;
  border-radius: 50%;
  border: 3px solid #eee;
  background-color: #999;
}

.img-container {
  margin-top: 30px;
}

.image-title {
  font-size: 1.5rem;
  color: #eee;
  font-weight: 550;
  letter-spacing: 2px;
}

.image-header {
  margin-top: 20px;
}

.title-header {
  font-size: 1.1rem;
  color: #eee;
  font-weight: 550;
}

.sub-title {
  font-size: 1rem;
  margin-top: 20px;
  color: #eee;
  word-break: break-all;
  letter-spacing: 1px;
}

hr {
  margin-top: 10px;
  margin-bottom: 8px;
}

.footer-section {
  position: relative;
  top: 20px;
  cursor: pointer;
  font-size: 2rem;
  display: block;
}

.fa-whatsapp {
  color: #0aff0a;
}

.fa-github {
  color: #fff;
  padding-left: 20px;
}

.fa-reddit {
  color: #ff9670;
  padding-left: 20px;
}

.fa-instagram {
  color: #fd4949;
  padding-left: 20px;
}
