@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  height: 65vh;
  padding: 4% 7%;
  font-family: Oxygen, sans-serif;
  width: 100%;
  background-color: #2c3c40;
  display: flex;
  justify-content: center;
}

header {
  background-color: #70797c;
  height: 450px;
  width: 100%;
  border-radius: 15px;
  box-shadow: -2px 1px 24px -1px rgb(0 0 11 / 100%);
}

.calculator-container {
  margin-top: 45px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  gap: 15px;
  text-align: center;
}

.display-header {
  display: block;
  width: 483px;
  padding: 10px 35px;
  height: 50px;
  border: none;
  margin-left: 32px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: -2px 5px 19px -4px rgb(255 255 255 / 100%);
  outline: none;
}

input {
  flex-wrap: wrap;
  width: 110px;
  padding: 10px 35px;
  height: auto;
  cursor: pointer;
  margin: 0 5px;
  background-color: #2c3c40;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: -2px 5px 23px -4px rgb(0 0 0 / 75%);
}

.calc-item-5 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  right: 46.9px;
}

.flex-item-5 {
  background-color: #ffa500;
  width: 220px;
}

.flex-item-4 {
  background-color: #20b2aa;
}

.flex-item-3 {
  background-color: #9477af;
}

.flex-item-2 {
  background-color: #7d93e0;
}

.flex-item-1 {
  background-color: #f08080;
}

input:active {
  transform: scale(1.1);
  box-shadow: -2px 5px 23px -4px rgb(19 19 19 / 75%);
}

/* https://github.com/WaiYanMoeMyintt/Basic-HTML-CSS-Projects */
