* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 95vh;
  background-color: #eee;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 16px 0;
}

.card-container {
  border-radius: 20px;
  background-color: #5c5cff;
  padding: 0 16px;
}

.sub-image {
  margin-bottom: 10px;
  width: 120px;
  height: auto;
  border-radius: 50%;
  border: 3px solid #eee;
  background-color: #999;
}

.img-container {
  margin-top: 30px;
}
